@import '../../../styles/styles.scss';

.configuration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 40px;
    background-color: green;
    font-family: $font-regular;

    &__options, .options {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // margin-left: 40px;
        width: 48%;
        min-width: 450px;

        &__amount, .amount {
            display: flex;
            align-items: center;
            margin-right: 80px;

            &__text {
                margin-right: 10px;
                font-size: 12px;
                line-height: 1.5;
                color: $brandPantonDescription;
            }

            &__value {
                font-size: 14px;
                font-weight: 600;
                line-height: 1;
                color: $brandPantonText;
            }
        }

        &__more, .more {
            display: flex;
            align-items: center;
            margin-right: 60px;
            border-radius: 5px;
            background-color: #efefef;

            &__minus {
                width: 30px;
                height: 30px;
                background: url('../../../images/icon/minus.svg') no-repeat center;
                
                &:hover {
                    border-radius: 5px 0 0 5px;
                    background: url('../../../images/icon/minus-hover.svg') no-repeat center;
                    background-color: $brandPantonBlue;
                }
            }

            &__plus {
                width: 30px;
                height: 30px;
                background: url('../../../images/icon/plus.svg') no-repeat center;

                &:hover {
                    border-radius: 0 5px 5px 0;
                    background: url('../../../images/icon/plus-hover.svg') no-repeat center;
                    background-color: $brandPantonBlue;
                }
            }
        }
        &__summ, .summ {
            display: flex;
            align-items: center;

            &__text {
                margin-right: 10px;
                font-size: 12px;
                line-height: 1.5;
                color: $brandPantonDescription;
            }

            &__value {
                font-size: 14px;
                font-weight: 600;
                line-height: 1;
                color: $brandPantonText;
            }
        }
    }

    &__button, .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 15px 0;
        border-radius: 30px;
        background-color: $brandPantonBlue;

        &__icon {
            width: 40px;
            height: 30px;
            transform: scale(2);
            background: url('../../../images/icon/add_config.svg') no-repeat center;
        }

        &__text {
            margin-left: 20px;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.36;
            letter-spacing: 1px;
            color: $white;
        }
    }
}