/** ***** IMPORT GLOBAL STYLE ***** */
@import '../../../styles/styles.scss';

/** ***** MODULE BUTTONS ***** */
.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.top {
    display: flex;
    flex-direction: column;
    width: 100%;

    /** ***** CAPTIONS ***** */
    &-captions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 7px;
        
        &__description {
            font-size: 12px;
            line-height: 1.5;
            letter-spacing: normal;
            color: $brandPantonDescription;
        }
    }

    &-select {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 11px;

        &__model {
            width: 180px;
            font-size: 26px;
            line-height: 1.5;
            color: $brandPantonText;
        }

        /** ***** SERIA ***** */
        &__seria {
            display: flex;
            flex-direction: row;
            border-radius: 20px;
            border: 1px solid $brandPantonBorderButton;

            &-str {
                padding: 5px 20px;
                border-radius: 20px;
                border: solid 2px transparent;

                &:hover {
                    color: $brandPantonBlue;
                }
            }
            &-stx {
                padding: 5px 20px;
                border-radius: 20px;
                border: 2px solid transparent;

                &:hover {
                    color: $brandPantonBlue;
                }
            }
        }
        &__price {
            width: 250px;
            font-size: 26px;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: right;
            color: #293440;
        }
    }
    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6px;

        &__docs {
            font-size: 10px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: 0.5px;
            text-decoration: none;
            color: $brandPantonBlue;
        }
        &__base {
            font-size: 10px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: 0.5px;
            text-decoration: none;
            color: $brandPantonBlue;
        }
    }

    /** ***** OPTIONS ***** */
    &-options {
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid $brandPantonBorderButton;
        padding-bottom: 19px;
        margin-bottom: 16px;

        &__value {
            font-size: 10px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: 0.5px;
            text-align: right;
            color: $brandPantonDescription;
        }
        &__reset {
            margin-left: 10px;
            font-size: 10px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: 0.5px;
            border-bottom: 1px solid $brandPantonDescription;
            text-align: right;
            color: $brandPantonDescription;

            &:hover {
                color: $brandPantonRed;
                border-bottom: 1px solid $brandPantonRed;
                cursor: pointer;
            }
        }
    }
}

.bottom {
    display: flex;
    flex-direction: column;
    width: 100%;

    /** ***** EXECUTUION BLOCK ***** */
    &-execution {
        font-size: 12px;
        line-height: 1.5;
        color: $brandPantonDescription;
        margin-bottom: 10px;
    }

    &-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-radius: 20px;
        margin-bottom: 20px;
        border: 1px solid $brandPantonBorderButton;

        &__compact {
            text-align: center;
            padding: 11px 0;
            width: 50%;
            border-radius: 20px;
            font-size: 14px;
            color: $brandPantonBlack;
            border: 2px solid transparent;

            &:hover {
                color: $brandPantonBlue;
            }
        }
        &__thumb {
            text-align: center;
            padding: 11px 0;
            width: 50%;
            border-radius: 20px;
            font-size: 14px;
            color: $brandPantonBlack;
            border: 2px solid transparent;

            &:hover {
                color: $brandPantonBlue;
            }
        }
    }
}

/** ***** STYLES FOR DYNAMIC DRAWING ***** */
.opacity {
    display: none;
    opacity: 0.5;
}
.open {
    border: 2px solid $brandPantonBlue;
    color: $brandPantonBlue;
    transition: all 0.1s ease-in;
}