@import '../../../styles/styles.scss';

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__top, .top {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__captions, .captions {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            font-family: $font-light;
            margin-bottom: 7px;
            
            &__model {
                font-size: 12px;
                line-height: 1.5;
                letter-spacing: normal;
                color: $brandPantonText;
            }
    
            &__seria {
                margin-left: 60px;
                font-size: 12px;
                line-height: 1.5;
                letter-spacing: normal;
                color: $brandPantonText;
            }
    
            &__summ {
                font-size: 12px;
                line-height: 1.5;
                letter-spacing: normal;
                color: $brandPantonText;
            }
        }
    
        &__select, .select {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 11px;
    
            &__model {
                width: 180px;
                font-size: 26px;
                line-height: 1.5;
                font-family: $font-regular;
                color: $brandPantonText;
            }

            &__seria, .seria {
                display: flex;
                flex-direction: row;
                border-radius: 20px;
                margin-left: 60px;
                font-family: $font-regular;
                border: 1px solid $brandPantonHover;
    
                &__str {
                    padding: 5px 20px;
                    border-radius: 20px;
                    border: 2px solid transparent;
                    color: $brandPantonText;
    
                    &:hover {
                        color: $brandPantonBlue;
                    }
                }

                &__stx {
                    padding: 5px 20px;
                    border-radius: 20px;
                    border: 2px solid transparent;
                    color: $brandPantonText;
    
                    &:hover {
                        color: $brandPantonBlue;
                    }
                }

                .open {
                    border: 2px solid $brandPantonBlue;
                    color: $brandPantonBlue;
                    transition: all 0.1s ease-in;
                }
            }
            &__price {
                width: 250px;
                font-size: 26px;
                line-height: 1.5;
                letter-spacing: normal;
                font-family: $font-regular;
                text-align: right;
                color: $brandPantonText;
            }
        }

        &__info, .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: $font-regular;
            margin-bottom: 6px;
    
            &__docs {
                font-size: 10px;
                font-weight: 500;
                line-height: 1;
                letter-spacing: 0.5px;
                text-decoration: none;
                color: $brandPantonBlue;
            }
            &__base {
                font-size: 10px;
                font-weight: 500;
                line-height: 1;
                letter-spacing: 0.5px;
                text-decoration: none;
                color: $brandPantonBlue;
            }
        }

        &__options, .options {
            display: flex;
            justify-content: flex-end;
            padding-bottom: 19px;
            margin-bottom: 16px;
            border-bottom: 1px solid $brandPantonHover;
    
            &__value {
                font-size: 10px;
                font-weight: 500;
                line-height: 1;
                letter-spacing: 0.5px;
                text-align: right;
                font-family: $font-light;
                color: $brandPantonDescription;
            }
            &__reset {
                margin-left: 10px;
                font-size: 10px;
                font-weight: 500;
                line-height: 1;
                letter-spacing: 0.5px;
                border-bottom: 1px solid $brandPantonHover;
                font-family: $font-regular;
                text-align: right;
                color: $brandPantonDescription;
    
                &:hover {
                    color: $brandPantonRed;
                    border-bottom: 1px solid $brandPantonRed;
                    cursor: pointer;
                }
            }
        }
    }

    &__bottom, .bottom {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-family: $font-light;

        &__execution {
            font-size: 12px;
            line-height: 1.5;
            color: $brandPantonText;
            margin-bottom: 10px;
        }
    
        &__buttons, .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border-radius: 20px;
            margin-bottom: 20px;
            font-family: $font-regular;
            border: 1px solid $brandPantonHover;
    
            &__compact {
                text-align: center;
                padding: 11px 0;
                width: 50%;
                border-radius: 20px;
                font-size: 14px;
                color: $brandPantonText;
                border: 2px solid transparent;
    
                &:hover {
                    color: $brandPantonBlue;
                }
            }
            &__thumb {
                text-align: center;
                padding: 11px 0;
                width: 50%;
                border-radius: 20px;
                font-size: 14px;
                color: $brandPantonText;
                border: 2px solid transparent;
    
                &:hover {
                    color: $brandPantonBlue;
                }
            }
        }

        .open {
            border: 2px solid $brandPantonBlue;
            color: $brandPantonBlue;
            transition: all 0.1s ease-in;
        }
    }

}
