@import '../../../styles/styles.scss';

.buttons--turnstile {
    display: flex;
    flex-direction: column;
    width: 100%;

    .captions:nth-child(2) {
        margin-left: 60px;
    }
    
    .captions {
        font-size: 12px;
        line-height: 1.5;
        color: $brandPantonText;
    }

    .link {
        font-size: 10px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.5px;
        text-decoration: none;
        color: $brandPantonBlue;

        &:hover {
            cursor: pointer;
        }
    }

    .buttons__top {
        display: flex;
        flex-direction: column;

        .top__captions {
            display: flex;
            justify-content: space-between;
            font-family: $font-light;
            margin-bottom: 7px;
        }
    
        .top__select {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 11px;
    
            .select__model {
                width: 180px;
                font-size: 26px;
                line-height: 1.5;
                font-family: $font-regular;
                color: $brandPantonText;
            }
            
            .select__seria {
                display: flex;
                border-radius: 20px;
                margin-left: 60px;
                font-family: $font-regular;
                border: 1px solid $brandPantonHover;
    
                .seria {
                    padding: 5px 20px;
                    border-radius: 20px;
                    border: 2px solid transparent;
                    color: $brandPantonText;
    
                    &:hover {
                        cursor: pointer;
                        color: $brandPantonBlue;
                    }
                }

                .open {
                    border: 2px solid $brandPantonBlue;
                    color: $brandPantonBlue;
                    transition: all 0.1s ease-in;
                }
            }
            .select__price {
                width: 250px;
                font-size: 26px;
                line-height: 1.5;
                font-family: $font-regular;
                text-align: right;
                color: $brandPantonText;
            }
        }

        .top__info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: $font-regular;
            margin-bottom: 6px;
        }

        .top__options {
            display: flex;
            justify-content: flex-end;
            padding-bottom: 19px;
            margin-bottom: 16px;
            border-bottom: 1px solid $brandPantonHover;
    
            .options__value {
                font-size: 10px;
                font-weight: 500;
                line-height: 1;
                letter-spacing: 0.5px;
                text-align: right;
                font-family: $font-light;
                color: $brandPantonDescription;
            }
            .options__reset {
                margin-left: 10px;
                font-size: 10px;
                font-weight: 500;
                line-height: 1;
                letter-spacing: 0.5px;
                border-bottom: 1px solid $brandPantonHover;
                font-family: $font-regular;
                text-align: right;
                color: $brandPantonDescription;
    
                &:hover {
                    color: $brandPantonRed;
                    border-bottom: 1px solid $brandPantonRed;
                    cursor: pointer;
                }
            }
        }
    }

    .buttons__bottom {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-family: $font-light;

        .bottom__execution {
            font-size: 12px;
            line-height: 1.5;
            color: $brandPantonText;
            margin-bottom: 10px;
        }
    
        .bottom__buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border-radius: 20px;
            margin-bottom: 20px;
            font-family: $font-regular;
            border: 1px solid $brandPantonHover;
    
            .execution {
                text-align: center;
                padding: 11px 0;
                width: 50%;
                border-radius: 20px;
                font-size: 14px;
                color: $brandPantonText;
                border: 2px solid transparent;
    
                &:hover {
                    cursor: pointer;
                    color: $brandPantonBlue;
                }
            }

            .open {
                border: 2px solid $brandPantonBlue;
                color: $brandPantonBlue;
                transition: all 0.1s ease-in;
            }
        }
    }
}
