@import '../../styles/styles.scss';

.turnstile {
    display: flex;
    flex-direction: column;

    &__basket {
       width: 100%;
    }

    &__primary, .primary {
        display: flex;
        width: 100%;
        height: 100vh;
        padding-top: 40px;
        background-color: #fafafa;
    
        &__slider, .slider {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 45%;
            margin: 0 40px;

            &__image {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 600px;
                min-width: 450px;
                background-color: $brandPantonHover;
            }

            &__list {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
        }

        &__basis, .basis {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-right: 40px;

            &__buttons {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &__selectors {
                display: flex;
                height: 50vh;
            }
        }
    }

    &__configuration {
        display: flex;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color:#fafafa;
    }

    &__equipment {
        display: flex;
        width: 100%;
        padding-bottom: 40px;
        background-color: $white;
    }
}