@import '../../styles/styles.scss';

.turnstile {
    display: flex;
    flex-direction: column;
    // height: 100%;
    margin: 20px;

    // &__basket {
    //    width: 100%;
    // }

    .turnstile__primary {
        display: flex;
        margin-bottom: 3vh;
        // width: 100%;
        // height: 100%;
        // padding-top: 40px;
        // background-color: #fafafa;
    
        .primary__slider {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 45%;
            margin-right: 40px;

            .slider__image {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 600px;
                //min-width: 450px;
                background-color: $brandPantonHover;
            }

            .slider__list {
                display: flex;
                justify-content: flex-start;
                height: 20vh;
            }
        }

        .primary__basis {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-right: 10px;

            .basis__buttons {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .basis__selectors {
                display: flex;
                height: 55vh;
                overflow: scroll;
            }
        }
    }

    // &__configuration {
    //     display: flex;
    //     padding-top: 40px;
    //     padding-bottom: 40px;
    //     background-color:#fafafa;
    // }

    // &__equipment {
    //     display: flex;
    //     width: 100%;
    //     padding-bottom: 40px;
    //     background-color: $white;
    // }
}