@import '../../../styles/styles.scss';

.buttons--barrier {
    display: flex;
    flex-direction: column;
    width: 100%;

    .captions {
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: normal;
        font-family: $font-regular;
        color: $brandPantonDescription;
    }

    .buttons__top {
        display: flex;
        flex-direction: column;
    
        .top__captions {
            display: flex;
            justify-content: space-between;
            font-family: $font-light;
            margin-bottom: 7px;
        }
    
        .top__select {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 11px;

            .model, .price {
                font-size: 26px;
                line-height: 1.5;
                font-family: $font-regular;
                letter-spacing: normal;
                color: #293440;
            }
        }

        .top__info {
            display: flex;
            justify-content: space-between;
            font-family: $font-regular;
            margin-bottom: 6px;
    
            .info {
                font-size: 10px;
                font-weight: 500;
                line-height: 1;
                letter-spacing: 0.5px;
                text-decoration: none;
                color: $brandPantonBlue;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .top__options {
            display: flex;
            justify-content: flex-end;
            border-bottom: 1px solid $brandPantonBorderButton;
            padding-bottom: 19px;
            margin-bottom: 16px;
    
            .options__value {
                font-size: 10px;
                font-weight: 500;
                line-height: 1;
                letter-spacing: 0.5px;
                text-align: right;
                font-family: $font-light;
                color: $brandPantonDescription;
            }
            .options__reset {
                margin-left: 10px;
                font-size: 10px;
                letter-spacing: 0.5px;
                border-bottom: 1px solid $brandPantonDescription;
                font-family: $font-regular;
                color: $brandPantonDescription;
    
                &:hover {
                    color: $brandPantonRed;
                    border-bottom: 1px solid $brandPantonRed;
                    cursor: pointer;
                }
            }
        }
    }

    .buttons__bottom {
        display: flex;
        flex-direction: column;
        font-family: $font-light;
    
        .bottom__buttons {
            display: flex;
            justify-content: space-between;
            border-radius: 20px;
            margin: 20px 0;
            font-family: $font-regular;
            border: 1px solid $brandPantonBorderButton;
    
            .buttons {
                text-align: center;
                padding: 11px 0;
                width: 50%;
                border-radius: 20px;
                font-size: 14px;
                color: $brandPantonBlack;
                border: 2px solid transparent;
    
                &:hover {
                    cursor: pointer;
                    color: $brandPantonBlue;
                }
            }
            .open {
                border: 2px solid $brandPantonBlue;
                color: $brandPantonBlue;
                transition: all 0.1s ease-in;
            }
        }
    }
}
