/** ***** IMPORT GLOBAL STYLE ***** */
@import '../../../styles/styles.scss';

/** ***** MODULE IMAGE ***** */
.image {
    display: flex;
    width: 350px;
    height: 500px;
    padding: 25px;

    &__turnstile {
        display: flex;
        width: 100%;
        height: 100%;
        background-size: contain;
    }
}