@import '../../../styles/styles.scss';

.image--turnstile {
    display: flex;
    align-items: center;
    width: 350px;
    height: 500px;
    padding: 25px;

    .image__turnstile {
        display: flex;
        width: 100%;
        background-size: contain;
    }
}