/**
    Импорт глобальных переменных
*/
@import '../../../styles/styles.scss';

/**
    Стили компонента moduleEquipment
*/
.equipment {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__description {
        margin: 0;
        padding: 30px 0 30px 40px;
        font-size: 26px;
        line-height: 1.27;
        font-family: $font-regular;
        color: $brandPantonText;
    }

    &__list, .checklist {
        display: flex;
        flex-direction: column;
        margin: 0 40px;

        /**
            Стили блоков с выбранными комплектующими
        */
        &__block, .block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 10px;
            border-radius: 10px;
            border: 1px solid $brandPantonBorderButton;

            &__info, .info {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__wrap, .wrap {
                    display: flex;
                    align-items: center;

                    &__text {
                        margin-right: 30px;
                        font-size: 18px;
                        line-height: 1.28;
                        font-family: $font-regular;
                        color: $brandPantonText;
                    }
    
                    &__goods {
                        margin-right: 5px;
                        font-size: 12px;
                        line-height: 1.5;
                        font-family: $font-light;
                        color: $brandPantonText;
                    }
                }

                // HERE ICONS STYLES NEED

                &__arrow {
                    margin-right: 30px;
                    height: 30px;
                    width: 30px;
                    background: url('../../../images/icon/arrow-equipment.svg') no-repeat center;
                }

                /**
                    Стили иконок при наведении/открытии/закрытии
                */
                &:hover {
                    .wrap__text {
                        color: $brandPantonBlue;
                    }
                    .wrap__arrow {
                        margin-right: 30px;
                        height: 30px;
                        width: 30px;
                        background: url('../../../images/icon/arrow-equipment-hover.svg') no-repeat center;   
                    }
                    .wrap__icon1 {
                        height: 30px;
                        width: 30px;
                        margin-right: 32px;
                        background: url('../../../images/icon/icon1-hover.svg') no-repeat center;
                    }
                    .wrap__icon2 {
                        height: 30px;
                        width: 30px;
                        margin-right: 32px;
                        background: url('../../../images/icon/icon2-hover.svg') no-repeat center;
                    }
                    .wrap__icon3 {
                        height: 30px;
                        width: 30px;
                        margin-right: 32px;
                        background: url('../../../images/icon/icon3-hover.svg') no-repeat center;
                    }
                    .wrap__icon4 {
                        height: 30px;
                        width: 30px;
                        margin-right: 32px;     
                        background: url('../../../images/icon/icon4-hover.svg') no-repeat center;
                    }
                }
            }
        }
    }
}

/**
    Стили иконок
*/
.wrap__icon1 {
    height: 30px;
    width: 30px;
    margin-right: 32px;
    padding: 20px 0 20px 30px;
    background: url('../../../images/icon/icon1.svg') no-repeat center;
}
.wrap__icon2 {
    height: 30px;
    width: 30px;
    margin-right: 32px;
    padding: 20px 0 20px 30px;
    background: url('../../../images/icon/icon2.svg') no-repeat center;
}
.wrap__icon3 {
    height: 30px;
    width: 30px;
    margin-right: 32px;
    padding: 20px 0 20px 30px;
    background: url('../../../images/icon/icon3.svg') no-repeat center;
}
.wrap__icon4 {
    height: 30px;
    width: 30px;
    margin-right: 32px;
    padding: 20px 0 20px 30px;
    background: url('../../../images/icon/icon4.svg') no-repeat center;
}

/**
    Стили иконок и текста при наведении
*/
.toggle-text {
    color: $brandPantonBlue!important;
}

.wrap__icon1-hover {
    height: 30px;
    width: 30px;
    margin-right: 32px;
    background: url('../../../images/icon/icon1-hover.svg') no-repeat center;
}
.wrap__icon2-hover {
    height: 30px;
    width: 30px;
    margin-right: 32px;
    background: url('../../../images/icon/icon2-hover.svg') no-repeat center;
}
.wrap__icon3-hover {
    height: 30px;
    width: 30px;
    margin-right: 32px;
    background: url('../../../images/icon/icon3-hover.svg') no-repeat center;
}
.wrap__icon4-hover {
    height: 30px;
    width: 30px;
    margin-right: 32px;
    background: url('../../../images/icon/icon4-hover.svg') no-repeat center;
}

.wrap__arrow-hover {
    transform: rotate(180deg);   
}