/** ***** IMPORT GLOBAL STYLE ***** */
@import '../../../styles/styles.scss';

/** ***** EQUIPMENT ***** */
.equipment {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-description {
        margin: 0;
        padding: 30px 0 30px 40px;
        font-size: 26px;
        line-height: 1.27;
        color: $brandPantonText;
    }

    &-list {
        display: flex;
        flex-direction: column;
        margin: 0 40px;

        /** ************* EQUIPMENT BLOCKS ************* */
        &__block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 10px;
            border-radius: 10px;
            border: 1px solid $brandPantonBorderButton;

            .block-info {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__wrap {
                    display: flex;
                    align-items: center;
                }

                // HERE ICONS STYLES NEED

                &__text {
                    margin-right: 30px;
                    font-size: 18px;
                    line-height: 1.28;
                    color: $brandPantonText;
                }

                &__goods {
                    margin-right: 5px;
                    font-size: 12px;
                    line-height: 1.5;
                    color: $brandPantonDescription;
                }

                &__arrow {
                    margin-right: 30px;
                    height: 30px;
                    width: 30px;
                    background: url('../../../images/icon/arrow-equipment.svg') no-repeat center;
                }

                /** ***** ICON HOVER STYLES NON OPEN ***** */
                &:hover {
                    .block-info__text {
                        color: $brandPantonBlue;
                    }
                    .block-info__arrow {
                        margin-right: 30px;
                        height: 30px;
                        width: 30px;
                        background: url('../../../images/icon/arrow-equipment-hover.svg') no-repeat center;   
                    }
                    .block-info__icon1 {
                        height: 30px;
                        width: 30px;
                        margin-right: 32px;
                        background: url('../../../images/icon/icon1-hover.svg') no-repeat center;
                    }
                    .block-info__icon2 {
                        height: 30px;
                        width: 30px;
                        margin-right: 32px;
                        background: url('../../../images/icon/icon2-hover.svg') no-repeat center;
                    }
                    .block-info__icon3 {
                        height: 30px;
                        width: 30px;
                        margin-right: 32px;
                        background: url('../../../images/icon/icon3-hover.svg') no-repeat center;
                    }
                    .block-info__icon4 {
                        height: 30px;
                        width: 30px;
                        margin-right: 32px;     
                        background: url('../../../images/icon/icon4-hover.svg') no-repeat center;
                    }
                }
            }
        }
    }
}

/** ***** ICON STYLES ***** */
.block-info__icon1 {
    height: 30px;
    width: 30px;
    margin-right: 32px;
    padding: 20px 0 20px 30px;
    background: url('../../../images/icon/icon1.svg') no-repeat center;
}
.block-info__icon2 {
    height: 30px;
    width: 30px;
    margin-right: 32px;
    padding: 20px 0 20px 30px;
    background: url('../../../images/icon/icon2.svg') no-repeat center;
}
.block-info__icon3 {
    height: 30px;
    width: 30px;
    margin-right: 32px;
    padding: 20px 0 20px 30px;
    background: url('../../../images/icon/icon3.svg') no-repeat center;
}
.block-info__icon4 {
    height: 30px;
    width: 30px;
    margin-right: 32px;
    padding: 20px 0 20px 30px;
    background: url('../../../images/icon/icon4.svg') no-repeat center;
}

/** ***** ICON AND TEXT COLOR HOVER ***** */
.toggle-text {
    color: $brandPantonBlue!important;
}

.block-info__icon1-hover {
    height: 30px;
    width: 30px;
    margin-right: 32px;
    background: url('../../../images/icon/icon1-hover.svg') no-repeat center;
}
.block-info__icon2-hover {
    height: 30px;
    width: 30px;
    margin-right: 32px;
    background: url('../../../images/icon/icon2-hover.svg') no-repeat center;
}
.block-info__icon3-hover {
    height: 30px;
    width: 30px;
    margin-right: 32px;
    background: url('../../../images/icon/icon3-hover.svg') no-repeat center;
}
.block-info__icon4-hover {
    height: 30px;
    width: 30px;
    margin-right: 32px;
    background: url('../../../images/icon/icon4-hover.svg') no-repeat center;
}

.block-info__arrow-hover {
    transform: rotate(180deg);   
}