/**
    Импорт глобальных переменных
*/
@import '../../../styles/styles.scss';

/**
    Стили компонента Selectors
*/
.selectors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    &-text {
        font-size: 12px;
        line-height: 1.5;
        color: $brandPantonDescription;
    }

    /**
        Селекторы
    */
    &-module {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 7px;
        font-size: 14px;

        &:hover {
            border-radius: 25px;
            background-color: $brandPantonHover;

            .selectors-module__info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 1px;
                margin-left: 10px;
                font-size: 10px;
                font-weight: 500;
                letter-spacing: 0.5px;
                color: $brandPantonBlue;
                cursor: default;
    
                &:hover {
                    .selectors-module__info-arrow {
                        margin-left: 10px;
                        width: 15px;
                        height: 7px;
                        background: url('../../../images/icon/arrow-more.svg') no-repeat center;
                    }
                }
            }
        }

        &__left {
            display: flex;
            align-items: center;
            width: 75%;
        }

        &__right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        &__icon {
            display: block;
            min-width: 30px;
            height: 30px;
            margin-right: 1%;
        }

        &__price {
            margin-right: 10px;
            font-size: 10px;
            font-weight: 500;
            color: $brandPantonBlue;
        }
        &__text {
            font-size: 14px;
            line-height: 1.29;
            color: $brandPantonText;
        }
         &__info {
            display: none;
        }
    }
}

/**
    Стили иконок селекторов
*/
.ep {
    display: block;
    min-width: 30px;
    height: 30px;
    margin-right: 1%;
    background: url('../../../images/icon/shape.svg') no-repeat center;
}
.emmarine {
    display: block;
    min-width: 30px;
    height: 30px;
    margin-right: 1%;
    background: url('../../../images/icon/emmarin.svg') no-repeat center;
}
.mifire {
    display: block;
    min-width: 30px;
    height: 30px;
    margin-right: 1%;
    background: url('../../../images/icon/mifare.svg') no-repeat center;
}
.bio {
    display: block;
    min-width: 30px;
    height: 30px;
    margin-right: 1%;
    background: url('../../../images/icon/biometric.svg') no-repeat center;
}
.time {
    display: block;
    min-width: 30px;
    height: 30px;
    margin-right: 1%;
    background: url('../../../images/icon/time.svg') no-repeat center;
}
.one-visits {
    display: block;
    min-width: 30px;
    height: 30px;
    margin-right: 1%;
    background: url('../../../images/icon/one-time-control.svg') no-repeat center;
}
.guest-access {
    display: block;
    min-width: 30px;
    height: 30px;
    margin-right: 1%;
    background: url('../../../images/icon/guest-access.svg') no-repeat center;
}
.steel {
    display: block;
    min-width: 30px;
    height: 30px;
    margin-right: 1%;
    background: url('../../../images/icon/stainless-case.svg') no-repeat center;
}

/**
    Стили для недоступных селекторов
*/
.none {
    opacity: 0.5;
}