/** ***** IMPORT GLOBAL STYLE ***** */
@import '../../../styles/styles.scss';

/** ***** MODULE SELECTORS ***** */
.selectors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    &-text {
        font-size: 12px;
        line-height: 1.5;
        color: $brandPantonDescription;
    }

    /** ***** SELECTORS ***** */
    &-module {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 7px;
        font-size: 14px;

        &:hover {
            border-radius: 25px;
            background-color: $brandPantonHover;

            .selectors-module__info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 1px;
                margin-left: 10px;
                font-size: 10px;
                font-weight: 500;
                letter-spacing: 0.5px;
                color: $brandPantonBlue;
                cursor: default;
    
                &:hover {
                    .selectors-module__info-arrow {
                        margin-left: 10px;
                        width: 15px;
                        height: 7px;
                        background: url('../../../images/icon/arrow-more.svg') no-repeat center;
                    }
                }
            }
        }

        &__left {
            display: flex;
            align-items: center;
            width: 75%;
        }

        &__right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        &__icon {
            display: block;
            min-width: 30px;
            height: 30px;
            margin-right: 1%;
        }

        &__price {
            margin-right: 10px;
            font-size: 10px;
            font-weight: 500;
            color: $brandPantonBlue;
        }
        &__text {
            font-size: 14px;
            line-height: 1.29;
            color: $brandPantonText;
        }
         &__info {
            display: none;
        }
    }
}
/**  ***** SELECTORS ICONS STYLES *****  */

.ep {
    display: block;
    min-width: 30px;
    height: 30px;
    margin-right: 1%;
    background: url('../../../images/icon/shape.svg') no-repeat center;
}
.emmarine {
    display: block;
    min-width: 30px;
    height: 30px;
    margin-right: 1%;
    background: url('../../../images/icon/emmarin.svg') no-repeat center;
}
.mifire {
    display: block;
    min-width: 30px;
    height: 30px;
    margin-right: 1%;
    background: url('../../../images/icon/mifare.svg') no-repeat center;
}
.bio {
    display: block;
    min-width: 30px;
    height: 30px;
    margin-right: 1%;
    background: url('../../../images/icon/biometric.svg') no-repeat center;
}
.time {
    display: block;
    min-width: 30px;
    height: 30px;
    margin-right: 1%;
    background: url('../../../images/icon/time.svg') no-repeat center;
}
.one-visits {
    display: block;
    min-width: 30px;
    height: 30px;
    margin-right: 1%;
    background: url('../../../images/icon/one-time-control.svg') no-repeat center;
}
.guest-access {
    display: block;
    min-width: 30px;
    height: 30px;
    margin-right: 1%;
    background: url('../../../images/icon/guest-access.svg') no-repeat center;
}
.steel {
    display: block;
    min-width: 30px;
    height: 30px;
    margin-right: 1%;
    background: url('../../../images/icon/stainless-case.svg') no-repeat center;
}

/**  ***** DISABLED SELECTORS *****  */
.none {
    opacity: 0.5;
}
  
/**  ***** SWITCHERS *****  */

// ***** SELECTOR ONE ***** //

.onoffswitch {
    position: relative; min-width: 50px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border-radius: 15.5px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        -webkit-transition: margin 0.1s ease-in 0s;
        -o-transition: margin 0.1s ease-in 0s;
        transition: margin 0.1s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
        font-size: 10px; color: white; font-family: 'Gotham Pro'; font-weight: bold;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "";
        padding-left: 7px;
        background-color: #1d68d9; 
        color: #FFFFFF;
    }
    .onoffswitch-inner:after {
        content: "";
        padding-right: 7px;
        background-color: #ebeff3; 
        color: #666666;
        text-align: right;
    }
.onoffswitch-switch {
    display: block; 
    width: 25px; 
    margin: 2px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 22px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 13px;
    -webkit-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;
    &:hover {
    border: 1px solid #1d68d9;
    } 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

// ***** SELECTOR TWO ***** //
.onoffswitch2 {
    position: relative; min-width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch2-checkbox {
    display: none;
    }
    .onoffswitch2-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 15.5px;
    }
    .onoffswitch2-inner {
    display: block; width: 200%; margin-left: -100%;
    -webkit-transition: margin 0.1s ease-in 0s;
    -o-transition: margin 0.1s ease-in 0s;
    transition: margin 0.1s ease-in 0s;
    }
    .onoffswitch2-inner:before, .onoffswitch2-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 10px; color: white; font-family: 'Gotham Pro'; font-weight: bold;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }
    .onoffswitch2-inner:before {
    content: "";
    padding-left: 7px;
    background-color: #1d68d9;
    color: #FFFFFF;
    }
    .onoffswitch2-inner:after {
    content: "";
    padding-right: 7px;
    background-color: #ebeff3; 
    color: #666666;
    text-align: right;
    }
.onoffswitch2-switch {
    display: block; 
    width: 25px; 
    margin: 2px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 22px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 13px;
    -webkit-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;
    &:hover {
    border: 1px solid #1d68d9;
    }  
}
.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-inner {
    margin-left: 0;
}
.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-switch {
    right: 0px; 
}

// ***** SELECTOR THREE ***** //
.onoffswitch3 {
    position: relative; min-width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch3-checkbox {
    display: none;
    }
    .onoffswitch3-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 15.5px;
    }
    .onoffswitch3-inner {
    display: block; width: 200%; margin-left: -100%;
    -webkit-transition: margin 0.1s ease-in 0s;
    -o-transition: margin 0.1s ease-in 0s;
    transition: margin 0.1s ease-in 0s;
    }
    .onoffswitch3-inner:before, .onoffswitch3-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 10px; color: white; font-family: 'Gotham Pro'; font-weight: bold;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }
    .onoffswitch3-inner:before {
    content: "";
    padding-left: 7px;
    background-color: #1d68d9; 
    color: #FFFFFF;
    }
    .onoffswitch3-inner:after {
    content: "";
    padding-right: 7px;
    background-color: #ebeff3;; 
    color: #666666;
    text-align: right;
    }
.onoffswitch3-switch {
    display: block; 
    width: 25px; 
    margin: 2px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 22px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 13px;
    -webkit-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s; 
    &:hover {
    border: 1px solid #1d68d9;
    } 
}
.onoffswitch3-checkbox:checked + .onoffswitch3-label .onoffswitch3-inner {
    margin-left: 0;
}
.onoffswitch3-checkbox:checked + .onoffswitch3-label .onoffswitch3-switch {
    right: 0px; 
}
// ***** SELECTOR FOUR ***** //
.onoffswitch4 {
    position: relative; min-width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch4-checkbox {
    display: none;
    }
    .onoffswitch4-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 15.5px;
    }
    .onoffswitch4-inner {
    display: block; width: 200%; margin-left: -100%;
    -webkit-transition: margin 0.1s ease-in 0s;
    -o-transition: margin 0.1s ease-in 0s;
    transition: margin 0.1s ease-in 0s;
    }
    .onoffswitch4-inner:before, .onoffswitch4-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 10px; color: white; font-family: 'Gotham Pro'; font-weight: bold;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }
    .onoffswitch4-inner:before {
    content: "";
    padding-left: 7px;
    background-color: #1d68d9; 
    color: #FFFFFF;
    }
    .onoffswitch4-inner:after {
    content: "";
    padding-right: 7px;
    background-color: #ebeff3; 
    color: #666666;
    text-align: right;
    }
.onoffswitch4-switch {
    display: block; 
    width: 25px; 
    margin: 2px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 22px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 13px;
    -webkit-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;
    &:hover {
    border: 1px solid #1d68d9;
    } 
}
.onoffswitch4-checkbox:checked + .onoffswitch4-label .onoffswitch4-inner {
    margin-left: 0;
}
.onoffswitch4-checkbox:checked + .onoffswitch4-label .onoffswitch4-switch {
    right: 0px; 
}

// ***** SELECTOR FIVE ***** //
.onoffswitch5 {
    position: relative; min-width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch5-checkbox {
    display: none;
    }
    .onoffswitch5-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 15.5px;
    }
    .onoffswitch5-inner {
    display: block; width: 200%; margin-left: -100%;
    -webkit-transition: margin 0.1s ease-in 0s;
    -o-transition: margin 0.1s ease-in 0s;
    transition: margin 0.1s ease-in 0s;
    }
    .onoffswitch5-inner:before, .onoffswitch5-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 10px; color: white; font-family: 'Gotham Pro'; font-weight: bold;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }
    .onoffswitch5-inner:before {
    content: "";
    padding-left: 7px;
    background-color: #1d68d9; 
    color: #FFFFFF;
    }
    .onoffswitch5-inner:after {
    content: "";
    padding-right: 7px;
    background-color: #ebeff3;  
    color: #666666;
    text-align: right;
    }
.onoffswitch5-switch {
    display: block; 
    width: 25px; 
    margin: 2px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 22px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 13px;
    -webkit-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;
    &:hover {
        border: 1px solid #1d68d9;
    }  
}
.onoffswitch5-checkbox:checked + .onoffswitch5-label .onoffswitch5-inner {
    margin-left: 0;
}
.onoffswitch5-checkbox:checked + .onoffswitch5-label .onoffswitch5-switch {
    right: 0px; 
}
// ***** SELECTOR SIX ***** //
.onoffswitch6 {
    position: relative; min-width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch6-checkbox {
    display: none;
    }
    .onoffswitch6-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 13px;
    }
    .onoffswitch6-inner {
    display: block; width: 200%; margin-left: -100%;
    -webkit-transition: margin 0.1s ease-in 0s;
    -o-transition: margin 0.1s ease-in 0s;
    transition: margin 0.1s ease-in 0s;
    }
    .onoffswitch6-inner:before, .onoffswitch6-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 10px; color: white; font-family: 'Gotham Pro'; font-weight: bold;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }
    .onoffswitch6-inner:before {
    content: "";
    padding-left: 7px;
    background-color: #1d68d9; 
    color: #FFFFFF;
    }
    .onoffswitch6-inner:after {
    content: "";
    padding-right: 7px;
    background-color: #ebeff3;
    color: #666666;
    text-align: right;
    }
.onoffswitch6-switch {
    display: block; 
    width: 25px; 
    margin: 2px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 22px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 13px;
    -webkit-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s; 
    &:hover {
    border: 1px solid #1d68d9;
    } 
}
.onoffswitch6-checkbox:checked + .onoffswitch6-label .onoffswitch6-inner {
    margin-left: 0;
}
.onoffswitch6-checkbox:checked + .onoffswitch6-label .onoffswitch6-switch {
    right: 0px; 
}

// ***** SELECTOR SEVEN ***** //
.onoffswitch7 {
    position: relative; min-width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch7-checkbox {
    display: none;
    }
    .onoffswitch7-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 13px;
    }
    .onoffswitch7-inner {
    display: block; width: 200%; margin-left: -100%;
    -webkit-transition: margin 0.1s ease-in 0s;
    -o-transition: margin 0.1s ease-in 0s;
    transition: margin 0.1s ease-in 0s;
    }
    .onoffswitch7-inner:before, .onoffswitch7-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 10px; color: white; font-family: 'Gotham Pro'; font-weight: bold;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }
    .onoffswitch7-inner:before {
    content: "";
    padding-left: 7px;
    background-color: #1d68d9;
    color: #FFFFFF;
    }
    .onoffswitch7-inner:after {
    content: "";
    padding-right: 7px;
    background-color: #ebeff3;  
    color: #666666;
    text-align: right;
    }
.onoffswitch7-switch {
    display: block; 
    width: 25px; 
    margin: 2px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 22px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 13px;
    -webkit-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;
    &:hover {
    border: 1px solid #1d68d9;
    }   
}
.onoffswitch7-checkbox:checked + .onoffswitch7-label .onoffswitch7-inner {
    margin-left: 0;
}
.onoffswitch7-checkbox:checked + .onoffswitch7-label .onoffswitch7-switch {
    right: 0px; 
}
// ***** SELECTOR EIGHT ***** //
.onoffswitch8 {
    position: relative; min-width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch8-checkbox {
    display: none;
    }
    .onoffswitch8-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 15.5px;
    }
    .onoffswitch8-inner {
    display: block; width: 200%; margin-left: -100%;
    -webkit-transition: margin 0.1s ease-in 0s;
    -o-transition: margin 0.1s ease-in 0s;
    transition: margin 0.1s ease-in 0s;
    }
    .onoffswitch8-inner:before, .onoffswitch8-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 10px; color: white; font-family: 'Gotham Pro'; font-weight: bold;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }
    .onoffswitch8-inner:before {
    content: "";
    padding-left: 7px;
    background-color: #1d68d9; 
    color: #FFFFFF;
    }
    .onoffswitch8-inner:after {
    content: "";
    padding-right: 7px;
    background-color: #ebeff3; 
    color: #666666;
    text-align: right;
    }
.onoffswitch8-switch {
    display: block; 
    width: 25px; 
    margin: 2px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 22px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 13px;
    -webkit-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;  
    &:hover {
    border: 1px solid #1d68d9;
    } 
}
.onoffswitch8-checkbox:checked + .onoffswitch8-label .onoffswitch8-inner {
    margin-left: 0;
}
.onoffswitch8-checkbox:checked + .onoffswitch8-label .onoffswitch8-switch {
    right: 0px; 
}
