/** ********** MAIN COLORS ********** */
$white: #fff;
$brandPantonBlack: #000000;
$brandPantonRed:   #DC2222;
$brandPantonGrey: #f1f1f1;
$brandPantonBlue: #1D68D9;
$brandPantonDescription: #8B9298;
$brandPantonText: #191E22;
$brandPantonBorderButton: #efefef;
$brandPantonHover: #EBEFF3;
$green: #28b463;

/** ********** FONT WEIGHTS ********** */
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;

/** ********** FONT ********** */
// $font-light: 'Roboto Light';
// $font-regular: 'Roboto Regular';

$font-light: 'Gotham Pro Light';
$font-regular: 'Gotham Pro Regular';

/** GOTHAM PRO FONTS */
@font-face {
	font-family: 'Gotham Pro Light';
	src: url('../fonts/GothamProLight/GothamProLight.eot');
	src: local('Gotham Pro Light'), local('GothamProLight'),
		url('../fonts/GothamProLight/GothamProLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamProLight/GothamProLight.woff') format('woff'),
		url('../fonts/GothamProLight/GothamProLight.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro Regular';
	src: url('../fonts/GothamProRegular/GothamProRegular.eot');
	src: local('GothamProRegular'), local('GothamProRegular'),
		url('../fonts/GothamProRegular/GothamProRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamProRegular/GothamProRegular.woff') format('woff'),
		url('../fonts/GothamProRegular/GothamProRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: 500;
}

/** ROBOTO FONTS */

@font-face {
	font-family: 'Roboto Light';
	src: url('../fonts/Roboto-Light.ttf');
	src: local('Roboto-Light'), local('Roboto-Light'),
		url('../fonts/Roboto-Light.ttf') format('truetype');
	font-weight: 100;
}

@font-face {
	font-family: 'Roboto Regular';
	src: url('../fonts/Roboto-Regular.ttf');
	src: local('Roboto-Regular'), local('Roboto-Regular'),
		url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: 100;
}