/** ********** MAIN COLORS ********** */
$white: #fff;
$brandSideColor: #404040;
$brandPantonBlack: #000000;
$brandPantonRed:   #DC2222;
$brandPantonGrey: #f1f1f1;
$brandPantonBlue: #1d68d9;
$brandPantonDescription: #8b9298;
$brandPantonText: #293440;
$brandPantonBorderButton: #efefef;
$brandPantonHover: #ebeff3;
$green: #28b463;

/** ********** FONT WEIGHTS ********** */
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;

/** ********** FONT ********** */
$code: 'Roboto', sans-serif;