/** ***** IMPORT GLOBAL STYLE ***** */
@import '../../../../styles/styles.scss';

/** ***** EQUIPMENT MODAL ***** */
.modal {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    background-color: $brandPantonBorderButton;

    &-wrapper {
        display: flex;
        position: relative;
        align-items: flex-start;
        min-height: 100px;
        width: 220px;
        margin: 20px;

        /** ***** EQUIPMENT MODAL BLOCKS ***** */
        .block {
            display: flex;
            flex-direction: column;
            width: 100%;
            position: absolute;
            border-radius: 10px;
            border: 1px solid $brandPantonBorderButton;
            background-color: $white;

            &-image {
                display: flex;
                justify-content: center;
                height: 160px;
                padding: 20px;

                & > img {
                    width: auto;
                    height: 100%;
                    background-size: contain;
                }
            }

            &-description {
                padding: 10px 20px;
                font-size: 12px;
                line-height: 1.5;
                color: $brandPantonText;

                &:hover {
                    color: $brandPantonBlue;
                    text-decoration: underline;
                }
            }

            &-amount {
                padding: 10px 20px;    
                font-size: 18px;
                line-height: 1.28;
                color: $brandPantonText;

                & > span {
                    font-size: 12px;
                    line-height: 1.5;
                    color: $brandPantonDescription;
                }
            }

            &-add {
                max-height: 0px;
                overflow: hidden;
                //transition: all .3s ease;
                border-top: 1px solid $brandPantonBorderButton;
            }

            &:hover {
                .block-add {
                    max-height: 150px;
                    z-index: 10000;
                    background-color: $white;
                    border-radius: 0 0 10px 10px;

                    &__value {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 5px;
                        padding: 20px 20px 0 20px;

                        .quantity {
                            display: flex;
                            align-items: center;
                            font-size: 12px;
                            line-height: 1.5;
                            color: $brandPantonDescription;

                            & > span {
                                margin-left: 10px;
                                font-size: 14px;
                                color: $brandPantonText;
                            }
                        }
                        
                        .more {
                            display: flex;
                            align-items: center;
                            border-radius: 5px;
                            background-color: $brandPantonBorderButton;

                            &-minus {
                                width: 30px;
                                height: 30px;
                                background: url('../../../../images/icon/minus.svg') no-repeat center;
                                
                                &:hover {
                                    border-radius: 5px 0 0 5px;
                                    background: url('../../../../images/icon/minus-hover.svg') no-repeat center;
                                    background-color: $brandPantonBlue;
                                }
                            }
                
                            &-plus {
                                width: 30px;
                                height: 30px;
                                background: url('../../../../images/icon/plus.svg') no-repeat center;
                
                                &:hover {
                                    border-radius: 0 5px 5px 0;
                                    background: url('../../../../images/icon/plus-hover.svg') no-repeat center;
                                    background-color: $brandPantonBlue;
                                }
                            }
                        }
                    }

                    &__button {
                        width: 80%;
                        padding: 6px 0;
                        margin: 20px 20px 0 20px;
                        text-align: center;
                        font-size: 14px;
                        border-radius: 15px;
                        border: 2px solid $brandPantonBlue;
                        background-color: $white;

                        &:hover {
                            background-color: $brandPantonBlue;
                            color: $white;
                        }
                    }

                    &__amount {
                        margin: 20px;
                        padding: 5px 0;
                        font-size: 10px;
                        font-weight: 500;
                        line-height: 1;
                        letter-spacing: 0.5px;
                        color: $brandPantonText;
                    }
                }
            }
        }
    }
}

/** ***** MEDIA QUERY FOR HD, FULL HD ***** */
@media (max-width: 1200px) {
    .modal {
        height: 85vh;
    }
}

@media (min-width: 1920px) {
    .modal {
        height: 35vh;
    }
}