/**
    Импорт глобальных переменных
*/
@import '../../styles/styles.scss';

/**
    Стили компонента Barrier
*/
.barrier {
    display: flex;
    flex-direction: column;
    border: 1px solid $brandPantonRed;

    /**
        Обертка компонента Basket
    */
    &__basket {
       width: 100%;
    }

    &__primary, .primary {
        display: flex;
        width: 100%;
        padding-top: 40px;
        background-color: #fafafa;
    
        &__slider, .slider {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 45%;
            margin: 0 40px;

            /**
                Обертка компонента Image
            */
            &__image {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 600px;
                min-width: 450px;
                background-color: $brandPantonGrey;
            }

            /**
                Обертка компонента List
            */
            &__list {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
        }

        &__basis, .basis {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-right: 40px;

            /**
                Обертка компонента Buttons
            */
            &__buttons {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            /**
                обертка компонента Selectors
            */
            &__selectors {
                display: flex;
                height: 50vh;
            }
        }
    }

    /**
        Обертка компонента Configuration
    */
    &__configuration {
        display: flex;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color:#fafafa;
    }

    /**
        Обертка компонента Equipment
    */
    &__equipment {
        display: flex;
        width: 100%;
        padding-bottom: 40px;
        background-color: $white;
    }
}