@import '../../styles/styles.scss';

.barrier {
    display: flex;
    flex-direction: column;

    // .barrier__basket {
    //    width: 100%;
    // }

    .barrier__primary {
        display: flex;
        width: 100%;
        height: 95.5vh;
        // padding-top: 40px;
        // background-color: #fafafa;
    
        .primary__slider {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 45%;
            margin-right: 40px;

            .slider__image {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 600px;
                //min-width: 450px;
                background-color: $brandPantonGrey;
            }

            .slider__list {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
        }

        .primary__basis {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-right: 10px;

            .basis__buttons {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .basis__selectors {
                display: flex;
                height: 5   0vh;
            }
        }
    }

    // &__configuration {
    //     display: flex;
    //     padding-top: 40px;
    //     padding-bottom: 40px;
    //     background-color:#fafafa;
    // }

    // &__equipment {
    //     display: flex;
    //     width: 100%;
    //     padding-bottom: 40px;
    //     background-color: $white;
    // }
}